/*****************************/
/* Alignment and Positioning */
/*****************************/

body>header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Large Desktop */
@media (min-width: 1440px) {
  body>header {
    max-width: 400px;
    position: fixed;
    top: 200px;
    left: 8%;
  }
}

/***********************/
/* Fonts, colours etc. */
/***********************/

/* overrides default styles for h2 and em*/
h2 {
  font-weight: 100;
}

em {
  font-style: normal;
  font-weight: 600;
}

body>header {
  background-color: #DDB967;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  color: #FFFFFF;
}