body>header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #DDB967;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  color: #FFFFFF;
}

/* overrides default  */
h2 {
  font-weight: 100;
}

em {
  font-style: normal;
  font-weight: 600;
}