nav {
  height: 120px;
  width: 100vw;
  background-color: #022B3A;
  color: #FFFFFF;
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

nav>div,
nav>button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: 'Bungee', cursive;
  align-self: center;
  font-size: 3rem;
}

.fa-angle-double-down {
  color: #F64740;
}

.fa-angle-double-down:hover {
  transform: translateY(5px);
}