.new-tweet {
  width: 90%;
  margin: 0 auto;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.form-stats {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5em;
}

textarea {
  border: 0;
  border-bottom: 4px #545149 solid;
  background-color: transparent;
  height: 1.5em;
}