/**************************/
/* Tweet Composition Form */
/**************************/

/*****************************/
/* Alignment and Positioning */
/*****************************/

.new-tweet {
  width: 90%;
  margin: 0 auto;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
  padding: 2em 0;
}

/* Tweet Submit, and word counter */
.form-stats {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5em;
}

textarea {
  height: 1.5em;
}

/***************************/
/* Fonts, colours, borders */
/***************************/

.form-stats {
  font-family: 'Bungee', cursive;
}

textarea {
  border: 0;
  border-bottom: 4px #545149 solid;
  outline: 0;
  background-color: transparent;
}

button {
  border: 0;
  border-radius: 2px;
  background-color: #022B3A;
  color: #FFFFFF;
  cursor: pointer;
}

/* Changes colour to red when over text limit or on error messages */
.over-limit,
.error {
  color: #F64740;
  font-weight: bold;
}