/* Tweet Container */

/* limit tweet image size to 120px */
.tweet img {
  height: 120px;
}

/* Alignment and positioning */
.tweet header,
.tweet footer {
  display: flex;
  justify-content: space-between;
}

.tweet {
  margin: 1em 1em 0 1em;
  padding: 1em;
}

.tweet .left {
  display: flex;
  align-items: center;
}

.tweet p {
  margin: 1.5em 0;
}

.tweet footer {
  padding-top: 1em;
}

/* Fonts, borders, colours etc */
.tweet {
  border: 4px solid #545149;
}

.tweet footer {
  border-top: 4px solid #545149 ;
}

