/* Tweet Container */

/* limit tweet image size to 120px */
.tweet img {
  height: 120px;
}

/*                           */
/* Alignment and positioning */
/*                           */
.tweet header,
.tweet footer {
  display: flex;
  justify-content: space-between;
}

.tweet {
  margin: 1em 1em 0 1em;
  padding: 1em;
}

.tweet .left {
  display: flex;
  align-items: center;
}

.handle {
  align-self: center;
}

.tweet p {
  margin: 2em 0;
  padding: 0 1.5em;
}

.tweet footer {
  padding: 1em 1em 0 1em;
}

.tweet footer i {
  padding: 0 0.5em;
}

/*                             */
/* Fonts, borders, colours etc */
/*                             */
.tweet {
  border: 4px solid #545149;
  font-weight: bold;
}

.handle {
  font-size: 2rem;

}

.tweet footer {
  border-top: 4px solid #545149 ;
  font-size: 1.25rem;
}

